POSTGRES_HOST=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_PORT=5432

NODE_ENV=development

PORT=3000
SECRET=security-key

FRONT_URL=http://localhost:3001

MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=
